absl-py==0.1.10
appdirs==1.4.3
attrs==18.1.0
bleach==1.5.0
cuda-kmeans==1.0
decorator==4.3.0
dipy==0.14.0
Django==2.0.2
djangorestframework==3.7.7
fcm==1.0
gauss-kernel-kmeans==1.0
gaussian-mixture==1.0
h5py==2.7.1
html5lib==0.9999999
improved-kmeans==1.0
Jinja2==2.10
jsonfield==2.0.2
kernel-kmeans==1.0
kmeans==1.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
meanshift==1.0
more-itertools==4.1.0
networkx==2.1
nibabel==2.2.1
numpy==1.14.3
opencv-python==3.4.0.14
Pillow==5.0.0
pluggy==0.6.0
protobuf==3.5.1
psycopg2==2.7.4
py==1.5.3
pycuda==2017.1.1
pydicom==1.1.0.dev0
PyGithub==1.39
PyJWT==1.6.1
pynetdicom3==0.1.0
pytest==3.5.1
pytools==2018.4
pytz==2018.3
region-growing==1.0
scikit-fuzzy==0.3.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
thresholding==1.0
tornado==4.5.3
Werkzeug==0.14.1
